 .div_inicio {
     position: relative;
     /* Necesario para posicionar la imagen de fondo */
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-bottom: 20px;
 }



 .background-image {
     position: absolute;
     /* Hace que la imagen cubra todo el contenedor */
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* Asegura que la imagen cubra el área del contenedor */
     z-index: 1;
     /* Envía la imagen al fondo */
 }



 .titulo {
     text-align: center;
     /* Centrar el texto */
     font-size: 35px;
     /* Tamaño de fuente grande */
     color: rgb(255, 255, 255);
     /* Color principal del texto */
     text-shadow: 2px 2px 4px black, 0 0 25px red, 0 0 5px darkred;
     /* Efecto brillante */
     animation: brillo 1.5s infinite alternate;
     /* Animación de brillo */
     margin: 20px 0;
     border-radius: 2px;
     z-index: 1;
     background: none;
 }

 @keyframes brillo {
     0% {
         text-shadow: 2px 2px 4px black, 0 0 10px red, 0 0 5px darkred;
     }

     100% {
         text-shadow: 2px 2px 4px black, 0 0 25px red, 0 0 10px darkred;
     }
 }




 .button_container {
     background: none;
     z-index: 1;
     padding: 20px;
 }

 .boton {
     background-color: red;
     color: white;
     border: none;
     padding: 15px 30px;
     font-size: 16px;
     cursor: pointer;
      /* Transición suave */
     border-radius: 5px;
     animation: deslizadoAnimacion 2s infinite;
     /* Animación de movimiento */
     position: relative;
     /* Para mantener el botón en su lugar */
 }

 .boton a {
     color: white;
     /* Color del texto */
     text-decoration: none;
     /* Sin subrayado */
 }

 .boton:hover {
     background-color: darkred;
     /* Color al pasar el mouse */
 }

 /* Definición de la animación */
 @keyframes deslizadoAnimacion {
     0% {
         transform: translate(0, 0);
         /* Posición inicial */
     }

     20% {
         transform: translate(15px, 0);
         /* Desplazamiento a la derecha */
     }

     40% {
         transform: translate(-10px, 0);
         /* Desplazamiento a la izquierda */
     }

     60% {
         transform: translate(0, -10px);
         /* Desplazamiento hacia arriba */
     }

     80% {
         transform: translate(0, 10px);
         /* Desplazamiento hacia abajo */
     }

     100% {
         transform: translate(0, 0);
         /* Regresa a la posición inicial */
     }
 }

 .boton a {
     background: none;
     color: #000;
 }



 .boton:hover {
     background-color: darkred;
 }


 /* --------------------------------------- */


 .about {
     width: 100vw;
     background-color: #000000;
     margin: auto;
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat(10, 1fr);
     align-items: center;
     padding: 20px 20px;
     overflow: hidden;
     justify-content: center;
     color: aliceblue;
 }

 .about {
     opacity: 0;
     transform: translateX(80%);
     /* Mueve el elemento fuera de la vista hacia la derecha */
     transition: opacity 1s ease-out, transform 1s ease-out;
 }

 .about.animate {
     opacity: 1;
     transform: translateX(0);
     /* Mueve el elemento a su posición original */
 }



 .img_about,
 .img_objetivo {
     width: 400px;
     height: 400px;
     object-fit: cover;
     margin: 0 auto;
     grid-column: 1/5;
     border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

 }


 .about_info {
     grid-column: 5/10;
 }

 .about h1 {
     color: #ffffff;
     margin: 0;
     font-size: 30px
 }


 .about p {
     margin: 15px 0;
     font-size: 17px;
     line-height: 1.3;
     color: #f0f0f0;
 }


 .SobreLineaabout_info {
     width: 120px;
     height: 14px;
     margin-top: -4px;
     --c: 50%,
         #ff0000 90deg,
         #ff030300 0;
     background: conic-gradient(from 45deg at calc(100% - 7px) var(--c)),
         conic-gradient(from -135deg at 7px var(--c));
     background-position: calc(100%/3) 0;
     background-size: calc(100%/4) 100%;
     animation: l6 0.5s infinite linear;
 }



 /* ---------------------------------- -------------------------*/
 /* Apartaod de objetivos de css */

 .objetivo {
     width: 100vw;
     background-color: #000000;
     margin: 0 auto;
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat(10, 1fr);
     align-items: center;
     padding: 20px;
     overflow: hidden;
     justify-content: center;
     color: aliceblue;
     position: relative;
 }

 .objetivos {
     margin: 40px auto;
     opacity: 0;
     transform: translateX(-100%);
     transition: opacity 1s ease-out, transform 1s ease-out;
 }

 .objetivos.animate {
     opacity: 1;
     transform: translateX(0);
 }

 .objetivo_text {
     grid-column: 1/6;
     /* Ocupa las columnas 1 a 6 (izquierda) */
     margin: 15px 0;
     font-size: 17px;
     line-height: 1.3;
     color: #f0f0f0;
 }

 .objetivo_text h1 {
     color: #ffffff;
     margin: 15px auto;
     font-size: 30px
 }

 .objetivo_info {
     grid-column: 6/10;
     /* Hace que la imagen ocupe todas las columnas */
     display: flex;
     /* Asegura que la imagen se centre verticalmente */
     justify-content: center;
     /* Centra la imagen horizontalmente */
     position: relative;
 }




 .container_acercaTarreoDatos {
     margin-left: 80px;
 }
















 @keyframes l6 {
     100% {
         background-position: 0 0
     }
 }


 @media screen and (max-width: 800px) {
     .objetivo {
         display: flex;
         flex-direction: column;
         /* Alinea el contenido en columnas */
         position: relative;
         /* Necesario para el posicionamiento del texto */
     }


     .objetivo_info {
         margin-top: 50px;
         /* Añade espacio superior para que el texto no se superponga */
         display: flex;
         justify-content: center;
         /* Centra la imagen horizontalmente */
         width: 100%;
         /* Asegura que ocupe todo el ancho */
         position: relative;
         /* Permite posicionar el texto sobre esta sección */
     }

     .img_objetivo {
         width: 450px;
         height: 400px;
     }

     .container_acercaTarreoDatos {
         margin-left: 0;
         text-align: center;
     }


     .about {
         display: flex;
         flex-direction: column-reverse;
     }

     .img_about {
         margin: 10px;
         width: min(100%, 450px);
         height: auto;
         aspect-ratio: 1/1;
     }

     .about h1 {
         text-align: center;
     }


     .about p {
         text-align: center;
     }

     .btn {
         display: grid;
         margin: auto;
     }

 }