.header {
    padding-bottom: 4rem;
}

.container_nav {
    padding: 1.6rem 2rem;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 0px 30px rgb(277, 288, 237);
    z-index: 10;
}

.logo {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.logo span {
    text-shadow: 0 0 25px #6a0000;
    color: red;
    transition: color 0.3s ease;
    /* Para un cambio suave de color */
}

/* Cambiar el color del span al pasar el cursor sobre la logo */
.logo:hover span {
    color: red;
    /* Cambia a rojo al pasar el cursor */
}

.nav ul li {
    position: relative;
    float: left;
}


.nav ul li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 17px;
}

/* Color rojo por defecto para el enlace activo */
.nav ul li a.active {
    text-shadow: 0 0 25px #6a0000;
    color: #ff4000;
}

/* Hover effect */
.nav ul li a:hover {
    text-shadow: 0 0 25px #6a0000;
    /* Mantener efecto de sombra */
    color: red;
    /* Cambiar color a rojo al pasar el cursor */
}

.logo:hover {
    transform: scale(1.02);
    transition: transform 0.9s;
}

.menu_icono {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    display: none;
}



.menu_icono img {
    display: block;
    width: 24px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .menu_icono {
        display: block;
    }

    .container_nav {
        height: 70px;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-areas: "logo icono";

    }

    .logo {
        grid-area: logo;
    }

    .menu_icono {
        position: relative;
        grid-area: icono;
        z-index: 10;
        transform: var(--icon1);
        cursor: pointer;
    }

    .nav {
        background-color: #000000;
        width: 100%;
        max-width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 140px 0;
        display: grid;
        align-items: center;
        clip-path: inset(0 0 0 100%);
        transition: clip-path .6s ease-in-out;
        z-index: 10;
    }

    .nav.open {
        clip-path: inset(0 0 0 0);
    }

    .nav.closed {
        clip-path: inset(0 0 0 100%);
    }

    .nav ul li {
        width: 100%;
        text-align: center;
        /* padding: 20px; */
        border-radius: 2px solid white;
        margin: 3px 0;
    }


}