.classComponetesVideojuegos {
    display: flex;
    width: 100vw;
    height: 400px;
    margin: auto;
    position: relative;
    /* Para posicionar el texto */
}

.classComponetesVideojuegos img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.classComponetesVideojuegos img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.btn_cronograma {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    /* Tamaño de texto más pequeño */
    text-align: center;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: red;
    /* Color de fondo vibrante */
    color: rgb(0, 0, 0);
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno reducido */
    text-decoration: none;
    /* Sin subrayado */
    transition: all 0.3s ease;
    /* Transición suave */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
    border-color: rgb(0, 0, 0);

}

.btn_cronograma:hover {
    background-color: red;
    /* Color de fondo al pasar el ratón */
    border-color: rgb(0, 0, 0);
    /* Borde blanco al pasar el ratón */
    color: #ffffff;
    transform: translate(-50%, -50%) scale(1.05);
    /* Escalado al pasar el ratón */
}


/* Añadir la animación de parpadeo */
.btn_cronograma {
    animation: parpadeo 2s infinite;
}



/* Competidores------------------------------------------------------------- */





.competidores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 20px;
    margin: 40px auto;
    max-width: 1200px;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateX(-100%);
    gap: 3rem;
    color: #f0f0f0;
}

.competidores.animate {
    opacity: 1;
    transform: translateX(0);
}

.competidores_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 20px;
    margin: 40px auto;
    max-width: 1200px;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateX(80%);
    gap: 3rem;
    color: #f0f0f0;
}

.competidores_2.animate_2 {
    opacity: 1;
    transform: translateX(0);

}









.img_competicion {
    width: 100%;
    max-width: 320px;
    height: 250px;
    border-radius: 10px;
    display: block;
    /* Asegúrate de que la imagen sea un bloque para centrarla */
    object-fit: cover;

}

/* ------------------------------------------------ */

.competidores_info {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Aumenta el margen para más espacio entre los elementos */

    max-width: 300px;
    width: 100%;
    text-align: center;
    /* Centra texto dentro del contenedor */
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* Cambia el color y grosor del borde */
    background: #000;
    border: 2px solid red;
}





















































/* ------------------------------------------------ */
.competidores_2 {
    margin: 40px auto;

}

.aboutContenedor p {
    font-weight: bold;
    font-size: 1.2em;
    margin: 7px;
    color: rgb(186, 0, 0);
    text-align: center;
}



ul li {
    margin: 10px 0;
}



@keyframes parpadeo {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}